.App {
  background-color: #18181b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App h1,
.App h2 {
  text-align: center;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.7rem;
}

nav img {
  width: 32px;
  height: 32px;
}

.colorful {
  font-size: 72px;
  background: linear-gradient(to left, #0099f7, #f11712);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

a {
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
}
.column {
  position: relative;
}
.joystick {
  position: relative;
  border: solid 1px grey;
  width: 33vw;
  height: 50vh;
}
.debug {
  position: absolute;
  top: 0;
  left: 0;
}

.my-nipple {
  width: 33vw;
  height: 50vh;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .joystick {
    width: 100vw;
    height: 50vh;
  }
}
